<div class="wrapper-new">
  <h1 class ="add_new">Please add a new <br><br><br>WORD</h1>
      <%if @error %>
      <p class='error'>
        <%= @error %>
      </div>
      <% end %>
<form action="/words" method="post" class="form">

      <label class="label" for ="word" >Please Enter a New Word</label>
      <input type="text" name="text">


    <input type="submit" name="btn" class="button button--submit" value="New Word!">

  </form>
