<div class="wrapper">
  <h1 class ="welcome">Welcome to Our <br><br><br><span>ANAGRAM GENERATOR</span></h1>

  <form action="/" method="post" class="form">

      <label class="label" for ="word" >Three Letter Words ONLY, Please!</label>
      <input type="text" name="word">


    <input type="submit" name="btn" class="button button--submit" value="Show Me My Anagrams!">
  </form>
</div>
